<section class="pure-g about-me-box">
    <div class="pure-u-1 bio-item-box">
        <h1 id="about-me-anchor">About Me:</h1>
    </div>
    <div class="pure-u-md-1-4 bio-item-box">
        <div class="shake">
            <img class="bio-item-image-left" src="assets/game-development.png"/>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 bio-item-box">
        <div class="bio">
            <p>
            I've been playing with technology since I was a kid. My father was always bringing home old dinosaur PCs to mess around with.
            I came of age with the world-wide-web and I eventually I found my calling writing pages for it.
            </p>
            <p>
            My design philosophy has always come from a genuine love of problem-solving and natural curiosity when it comes to computers and the web.
            It's from this that I believe I've become somewhat of a jack of all trades which has been incredibly useful.
            </p>
            <p>
            I've done game development, fixed legacy software environment issues, and even worked in a clinical laboratory setting before settling on working for myself on the web.
            </p>
            <p>
            When I'm not working on websites I'm watching movies, eating good food, and enjoying what the world outside of the computer monitor has to offer.
            </p>
        </div>
    </div>
    <div class="pure-u-md-1-4 bio-item-box shake">
        <div class="shake">
            <img class="bio-item-image-right" src="assets/microscope.png"/>
        </div>
    </div>
    <div class="pure-u-md-1-4"></div>
    <section id="skills-box" class="pure-u-1 pure-u-md-1-2">
        <h2 id="skillset-title">Skill-set:</h2>
        <ul id="skillset-list">
            <li title="The structural definition of webpages.">HTML</li>
            <li title="The look, feel, and style of webpages.">CSS</li>
            <li title="The front-end programming language that makes webpages interactive.">JavaScript</li>
            <li title="A content-driven PHP framework for blogging and simple websites.">Wordpress</li>
            <li title="Web-server setup and domain registration.">Web Hosting</li>
            <li title="Application Programming Interfaces. The way services on the web send requests to exchange and update data.">Web API Integration</li>
            <li title="Back-end programming languages that handle business logic.">Server-side Programming</li>
            <li title="Structured Query Language is the language used to make database requests.">SQL Databases</li>
        </ul>
    </section>
    <div class="pure-u-md-1-4"></div>
</section>
