<section class="pure-g features-grid">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="feature-item-box">
            <img src="assets/web-design.png" class="feature-item-icon">
            <div class="feature-item-title">In-depth Features</div>
            <div class="feature-item-desc">Full-stack design coverage means I can work to meet whatever feature-needs your project has. Together we can come up with an engaging and interactive solution.</div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="feature-item-box">
            <img src="assets/money-bag.png" class="feature-item-icon">
            <div class="feature-item-title">Affordable Options</div>
            <div class="feature-item-desc">It's easy to break the bank when you don't want to settle on the look and feel of your website. Let's work together and find a perfect solution at a perfect price point.</div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="feature-item-box">
            <img src="assets/responsive.png" class="feature-item-icon">
            <div class="feature-item-title">Responsive Design</div>
            <div class="feature-item-desc">My design work focuses on mobile responsive layouts. Webpages should look good on any screen-size. Especially since mobile devices account for up to 70% of modern web traffic.</div>
        </div>
    </div>
</section>
