<section id="portfolio-box">
    <h1 id="portfolio-anchor">Portfolio:</h1>
    <div id="portfolio-grid" class="pure-g">
        <div class="portfolio-card-box pure-u-1-1 pure-u-md-1-3">
            <div class="portfolio-card">
                <div class="portfolio-card-title">PAIR Program<br>Database</div>
                <img class="portfolio-card-img" src="assets/pair.png" />
                <a class="portfolio-card-link" target="_blank" href="https://pair-database.com">Visit</a>
            </div>
        </div>
        <div class="portfolio-card-box pure-u-1-1 pure-u-md-1-3">
            <div class="portfolio-card">
                <div class="portfolio-card-title">Smoke'em if you Got'em <br>Grill Sales</div>
                <img class="portfolio-card-img" src="assets/smoke.png" />
                <a class="portfolio-card-link" target="_blank" href="https://smokeemifyougotemgrillsales.com">Visit</a>
            </div>
        </div>
        <div class="portfolio-card-box pure-u-1-1 pure-u-md-1-3">
            <div class="portfolio-card">
                <div class="portfolio-card-title">Rat Mass<br>Webpage</div>
                <img class="portfolio-card-img" src="assets/ratmass.png" />
                <a class="portfolio-card-link" target="_blank" href="https://ratmass.church">Visit</a>
            </div>
        </div>      
    </div>
</section>