<div class="pure-g home-display">
<div class="pure-u-lg-1-4"></div>
<div class="pure-u-1 pure-u-lg-1-4 splash-text">
    <h1>Full-stack Web Solutions</h1>
</div>
<div class="pure-u-1 pure-u-lg-1-4">
    <img class="image-stand-in" src="assets/me.jpg">
    <p class="sub-heading-1">Sean-Thomas Leak (That's me!)</p>
    <p class="sub-heading-2">Web Developer</p>
</div>
<div class="pure-u-lg-1-4"></div>
</div>
