<SplashCard />
<FeatureGrid />
<AboutMe />
<Portfolio />
<ServiceGrid />
<div class="contact-me-box">
    <div>
        <h1 id="contact-anchor">Contact Me:</h1>
        <a class="contact-link" href="mailto:seanthomas.leak@yahoo.com?subject=Web Project Inquiry">seanthomas.leak@yahoo.com</a>
        <a class="contact-link" href="tel:17065301219">(706) 530-1219</a>
        <h3>Contact me and let's get started on your web project together!</h3>
    </div>
    
</div>
